* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
}

img:hover {
cursor: pointer;
}

h3 {
    margin-left: 17%;
    animation: h2 1s;
}

h2 {
    color: rgb(0, 0, 125);
    margin-left: 17%;
    animation: h2 1s;
    animation: h2-animation 3s infinite alternate-reverse;
}

@keyframes h2-animation {
    from {
        color: rgb(0, 0, 125);
    }

    to {
       color: rgb(49, 145, 241);
    }
}

.container {
    width: 100%;
    background: url(../imagens/Design\ sem\ nome\.png);
    background-attachment: fixed;
}

.bg {
    background: url(../imagens/Sem\ título.png) no-repeat;
}

#acima ul a {
display: block;
padding: 0 2em;
color: white;
line-height: 2em;
text-decoration: none;
float: left;
}

#acima {
    background-color: #1f348f;
    background: linear-gradient(to right,  #081239, #1f348f, #1f348f, #081239);
    height: 139px;
    width: 100%;
    position: static;
}


.layout {
    display: block;
    background: rgba(255, 255, 255, 0.84);
    position: relative;
    margin-inline: 6%;
    height: 100%;
    width: 88%;
    padding-top: 4%;
    animation: layout 1s;
    align-items: center;
    justify-content: center;
}

.label-menu,
.checkbox {
    display: none;
}

@media (max-width: 1482px) {
    .label-menu {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: white;
        padding-block: 1rem;
        cursor: pointer;
    }

    .hamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;
        position: relative;
        bottom: 90px;
        left: 94%;
        animation: burger 0.5s ease-in-out;
    }

    .hamburger::before,
    .hamburger::after {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background-color: currentColor;
        margin-top: 0.3125rem;
    }

}

@keyframes burger {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
 
@keyframes text {
    from {
        opacity: 0;
        translate: -100vw 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}


a {
    text-decoration: none;
    color: rgb(63, 140, 227);
}


.tabelas {
    background: rgba(113, 190, 253, 0.693);
}

#acima ul a:hover {
    animation: ul-animation 0.7s ease-in-out forwards ;
    z-index: 1;

}

    @keyframes ul-animation {
        from {
            transform: translateY(0px);
            background: #436ac42b;
            width: 72%;
            border-radius: 3px;
            height: 45px;
        }

        to {
            transform: translateY(-9px);
            color: rgb(14, 14, 45);
            background: #436ac4;
            width: 72%;
            border-radius: 5px;
            height: 45px;
        }

    }

    
    #acima ul {
        position: relative;
        display: block;
        padding: 0 2em;
        color: white;
        line-height: 2em;
        text-decoration: none;
        background: url(../imagens/Sem\ título.png) no-repeat;
        list-style: none;
        margin-left: 5%;
        top: 20px;

    }

    .bg2 {
        display: none;
    }

    #acima li {
        float: left;
        margin: 0 auto;
        font-size: 14px;
        text-align: center;
        margin-left: 15px;
    }

    .checkbox:checked ~ .nav-list {
        display: block;
        visibility: visible;
        animation: checked ease-in-out 0.5s;
    }


    @keyframes checked {
        from {
            height: 0;
        }

        to {
            height: 20vh;
        }
    }

    @media (max-width: 1482px) {
        .nav-list {
            width: 100%;
            display: none;
            position: absolute;
            top: 4.6875rem;
            left: 0;
            text-align: center;
            background: linear-gradient(to right,  #081239, #1f348f, #1f348f, #081239);
            z-index: 1;
            height: 20vh;
        }

        .im {
            display: none;
        }

        .bg1 {
            display: block;
            background: url(../imagens/Sem\ título.png) no-repeat;
            animation: bg 1s ease-in-out;
        }

        #acima ul {
            width: 50%;
            top: 20px;
            left: 20%;
        }

        #acima li {
        float: left;
        margin: 0 auto;
        font-size: 15px;
        text-align: center;
        width: 167px;
        }

        .bg {
            display: block;
            animation: bg 1s ease-in-out;
        }

        #acima {
            animation: media 1s ease-in-out forwards;
        }

        #acima ul a:hover {
            animation: ul-animation2 0.7s ease-in-out forwards ;
        }

    }

    @keyframes ul-animation2 {
        from {
            background: #436ac42b;
            border-radius: 3px;
            width: 66%;
        }

        to {
            color: rgb(14, 14, 45);
            background: #436ac4;
            border-radius: 5px;
            width: 66%;
        }
    }


    @keyframes bg {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @media (min-width: 1482px) {
        #acima li {
            display: block;
            animation: li2 0.3;
        }

        .hamburger {
            display: block;
            animation: burger2 0.5s ease-in-out;
        }

        #acima {
            animation: media2 0.3s ease-in-out forwards;
        }
    }

    @keyframes burger2  {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes li {
        from {
            display: block;
            width: 167px;
            opacity: 0.9;
        }

        to {
            display: none;
            transform:translateY(13px);
            opacity: 0;
        }
    }

    @keyframes media {
        from {
            height: 139px;
        }

        to {
            height: 110px;
        }
    }
    
    @keyframes media2 {
        from {
            height: 110px;
        }

        to {
            height: 139px;
        }
    }

    .td {
        position: relative;
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: right center;
        
    }

    .img {
        position: relative;
        margin-right: 3%;
        border-radius: 8px;
        margin-left: 27%;
    }

    .img2 {
        position: relative;
        border-radius: 8px;
    }

    .tabela2 {
        border: white;
        padding-right: 50px;
        font-size: 20px;
    }

    .tabela1 {
        font-size: 20px;
    }

    #rodape {
        padding: 0;
        margin: 0;
        clear: both;
        height: 19rem;
        background: #1f348f;
        color: white;
        background-color: #1f348f;
        background: linear-gradient(to right,  #1f348f, #081239);
    }

    .im {
        position: relative;
        text-align: left;
        margin-left: 10px;
        top: 30px;
    }

    .consorcio {
        margin-bottom: 50px;
        margin-right: 70px;
        margin-left: 27%;
    }
    
    .borda {
        border-radius: 10px;
    }

    .a {
        color: rgb(112, 111, 111);
    }

    a:hover {
        color:  rgb(14, 14, 45);;
    }

    .fabrica {
        position: relative;
        border: 10px;
    }
    
    .gaz {
        min-width: 300px;
    }

    #acima ul .primeiro a {
        background: none;

    }

    .lt {
        font-size: 13px;
    }

    .lt2 {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .img3 {
        position: relative;
        border-radius: 8px;
        margin-left: 27%;
    }

    ul {
        list-style: none;
    }

    .imgz {
        border-radius: 8px;
        margin-left: 27%;
    }

    .jeito {
        position: relative;
        margin-left: 27%;
        margin-right: 3%;
    }

    .dna {
        position: relative;
        border-radius: 8px;
    }

    .mario {
        padding-bottom: 40px;
       margin-left: 2%;
    }

    .ul {
        list-style-type: disc;
    }

    .consorcio:hover {
        width: 220px;
        transition: 1s;
    }

    .con2 {
        position: relative;
    }

    p {
        margin-left: 17%;
        width: 67%;
        animation: text 1s;
    }

    @keyframes h2 {
        from {
            opacity: 0;
            translate: -30vw 0;
        }

        to {
            opacity: 1;
            translate: 0 0;
        }
    }

    table {
        margin-left: 20%;
    }

    .tb {
        margin-left: 30%;
    }

    img {
        animation: img 1s;
    }

    @keyframes img {
        from {
            opacity: 0.2;
            translate: -10vw 0;
        }

        to {
            opacity: 1;
            translate: 0 0;
        }
    }

    @keyframes layout {
        from {
            opacity: 0.3;
            translate: -4vw 0;
        }

        to {
            opacity: 1;
            translate: 0 0;
        }
    }

    .link {
        color: white;
        text-decoration: underline;
    }

    .rede-socias {
        position: relative;
        margin-left: 10px;
        top: 70px;
    }

    #rd1 {
        margin-right: 14px;
    }

    #rd2 {
        margin-right: 14px;
    }

    #links-footer {
        position: relative;
        margin-left: 14rem;
        bottom: 8px;
        color: white;
    }

    #links-footer a {
        color: rgba(255, 255, 255, 0.556);
        text-decoration: underline;
        font-size: 17px;
    }

    #links-footer li {
        margin-bottom: 7px;
    }

    #suporte-footer {
        position: relative;
        margin-left: 22rem;
        bottom: 192px;
        color: white;
    }

    #suporte-footer a {
        color: rgba(255, 255, 255, 0.556);
        text-decoration: underline;
        font-size: 17px;
    }

    #contato {
        position: relative;
        bottom: 315px;
        margin-left:31rem;
        color: white;
    }

    #contato li {
        margin-bottom: 7px;
        
    }

    #contato a {
        color: rgba(255, 255, 255, 0.556);
        text-decoration: none;
        font-size: 17px;
        cursor: default;
    }

    .copy {
        position: relative;
        top: 5rem;
        right: 15rem;
    }

    @media (max-width: 1200px) {
        .img {
           width: 250px; 
        }

        .imgz {
            width: 250px;
        }

        .mario {
            width: 250px;
        }
    }

    #imgs {
        float: left;
    }

    .vntgs {
        width: 250px;
        list-style: disc;
        position: relative;
        left: 17rem;
    }

    .arrow {
        position: relative;
        margin: 10px;
        margin-right: 3%;
        margin-left: 23%;
    }

    #video {
        margin-left: 5%;
    }

    .dv {
        margin-left: 10%;
        width: 55%;
    }
    
    .dv2 {
        margin-left: 10%;
        width: 56%;
    }