/*Tegs pra animações
Opções para "transform"

translate X ou Y (translate para mover o eleento)

Rotate (Ex : trasform: rotate(45deg); para rotacionar o elemento)

scale X ou Y (para aumentar o tamanho do elemento)

skew X ou Y  (para inclinar o elemento "Especificar com "deg" ")

*/










.box {
    background-color: rgb(8, 59, 129);
    height: 300px;
    width: 300px;
    transition-property: backgroud-color, border-radius;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}



.box:hover {
    background-color: rgba(140, 47, 47, 0.896);
    border-radius: 50%;
}


@media (max-width: 148px) {
    li {
        display: none;
        animation: li 0.5s;
    }

    .bg {
        display: none;
    }

    #acima {
        animation: media 0.5s ease-in-out forwards;
    }
}