
    /*margin
    margin-top
    margin-right
    margin-left
    margin-bottom
   
   esse código serve para deixa os espaçamentos do lado de fora da borda
   para definir um tamanho é preciso colocar o numero de px.
   
    */

    /* inline-block, block, inline     
     tamanho dos elementos inline é definido pelo conteudo que tem dentro dele
     ja o block é um tamanho pré definido, para efetuar esse codigo é preciso usar
     a palavra "display" antes  e depois selecionar inline ou block*/

    /*isso serve para fazer tipo tabelas, com div e span, com o inline, block
    é possivel deixar o div um do lado do outro, como se fossse uma
    tabela.  */

    /*padding serve para definir o espaço dentro da div, ou da span, ou da table.*/


    /* o comando *{} é usado para selecionar tudos os elementos da página  */

        /* height = altura */
   
   

        

       /* background-color:  #1f348f;*/


 
    .acima {
        background-color: #1f348f;
        height: 135px;
        position: relative;
        }


    ul a:hover {
color: rgb(14, 14, 45);
background: rgba(112, 163, 230, 0.815);
}

ul a {
display: block;
padding: 0 2em;
color: white;
line-height: 2em;
text-decoration: none;
background: url(imagens/Sem\ título.png) no-repeat;
float: left;
}

.li {
float: left;
font-size: 16px;
margin: 0;
padding: 0;
list-style: none;
width: 703px;
background-color:  #1f348f;
float: left;
position: relative;
bottom: 35px;
left: 60px;

}

.li2 {
float: left;
font-size: 16px;
margin: 0;
padding: 0;
list-style: none;
width: 703px;
background-color:  #1f348f;
float: left;
position: relative;
bottom: 35px;
left: 130px;
}

    .container {
        width: 100%;
        margin: 0 auto;
    }

#acima {
    background-color: #1f348f;
    background: linear-gradient(#1f348f, #1f348f, #1f348f, #1a2a72);
    height: 135px;
    width: 100%;
    position: static;
    min-width: 1500px;
    
}

body {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        background: rgb(255, 255, 255);
        margin: 0 auto;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        background: blue;
        background: url(imagens/Design\ sem\ nome\.png);
        background-attachment: fixed;
    }

    h2 { 
        color: rgb(0, 0, 125);
    }

.div {
    position: relative;
    float: left;
    margin-left: 6%;
    margin-top: 40px;
    margin-bottom: 100px;
    border: rgb(255, 255, 255);
    font-size: 15px;
    border-collapse: collapse;

   
}

.letrastabela {
    font-size: 13px;
}

a {
    text-decoration: none;
    color: rgb(63, 140, 227);
}



.letra {
    font-size: 13px;
}

.imagem58 {
    position: relative;
    bottom: 150px;
    left: 250px;
}

.margin {
    margin-left: 20px;
}

.tabelas {
    background: rgba(113, 190, 253, 0.693);
}

    .espaço1 {
        position: relative;
        float: left;
        left: 30px;
        font-size: 20px;
        top: 20px;
    }

    .espaço2 {
        position: relative;
        left: 280px; 
        bottom: 220px;
    }

    .hr {
        position: relative;
        bottom: 100px;
    }

    .padding {
        padding-top: 70px;
        position: relative;
        bottom: px;
    }

    .padding1 {
        padding-top: 40px;
        position: relative;
        bottom: 5px;
    }

    #acima ul a:hover {
        color: rgb(14, 14, 45);
        background: #467ce0d2;
        width: 120px;
        transition: 1s;
    }

    #acima ul {
        display: block;
        padding: 0 2em;
        color: white;
        line-height: 2em;
        text-decoration: none;
        background: url(imagens/Sem\ título.png) no-repeat;
        list-style: none;
        text-align: center;
        margin-left: 5%;
        left: 0%;
    }

    #acima li {
        float: left;
        margin: 0 auto;
        font-size: 16px;
    }
    

   .li {
        float: left;
        font-size: 16px;
        margin: 0;
        padding: 0;
        list-style: none;
        width: 703px;
        float: left;
        background-color:  #1f348f;
        position: relative;
        bottom: 35px;
        left: 60px;
  
    }

    .li2 {
        float: left;
        font-size: 16px;
        margin: 0;
        padding: 0;
        list-style: none;
        width: 703px;   
        float: left;
        background-color:  #1f348f;
        position: relative;
        bottom: 35px;
        left: 130px;
    }

    .td {
        position: relative;
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: right center;
        
    }

    .img {
        position: relative;
        margin-right: 3%;
        border-radius: 8px;
        margin-left: 27%;
    }

    .img2 {
        position: relative;
        border-radius: 8px;
    
    }

    .p {
       position: relative;
       padding-left: 100px;
       
    }

    .h2 {
        position: relative;
        top: 40px;
    right: 480px;
        float: left;
    }

    .hr1 {
        position: relative;
        top: 850px;
        right: 900px;
       font-size: 20px; 
    }

    .gz {
        position: relative;
        text-align: center;
    }
 

    .tabela2 {
        border: white;
        padding-right: 50px;
        font-size: 20px;
    }

    .tabela1 {
        font-size: 20px;
    }

    .tbl {
        position: relative;
        text-align: center;
    }

    .fabrica {
        position: relative;
        right: 30px;
        padding: 10px;
    }

    .fabrica2 {
        position: relative;
        left: 30px;
        padding: 10px;
    }

    .divv {
        float: left;
        border: rgb(255, 255, 255);
        font-size: 15px;
        border-collapse: collapse;
        margin-left: 30px;
  
        
    }

    .th {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .sdd {
        position: relative;
        border-top: solid 5px #133348;
        border-right: solid 5px #133348;
        border-bottom: solid 5px #1e679a;
        border-left: solid 5px #19527b;
    }

    #acima ul a .primeiro {
        background: none;
    }

    .p {
        width: 400px;
    }

    .layout {
        display: block;
        background: rgba(255, 255, 255, 0.84);
        position: relative;
        left: 6%;
        height: 100%;
        width: 88%;
        padding-top: 20px;
    }

    .layout2 {  
        background: rgba(255, 255, 255, 0.84);
        position: relative;
        left: 83px;
        height: 100%;
        width: 88%;
        padding-top: 20px;
        padding-bottom: 500px;
    }

    #rodape {
        clear: both;
        padding: 20px;
        height: 60px;
        background: #1f348f;
        color: white;
        background-color: #1f348f;
        background: linear-gradient( #1f348f, #1f348f, #1f348f, #1a2a72);
    }

    .im {
        position: relative;
        text-align: left;
        top: 20px;
    }

    .consorcio {
        margin-bottom: 50px;
        margin-right: 70px;
        margin-left: 27%;
    }
    
    .borda {
        border-radius: 10px;
    }

    .a {
        color: rgb(112, 111, 111);
    }

    a:hover {
        color:  rgb(14, 14, 45);;
    }

    .fabrica {
        position: relative;
        border: 10px;
    }
    
    .gaz {
        min-width: 300px;
    }

    #acima ul .primeiro a {
        background: none;

    }

    .primeiro:hover
    {
        color: rgb(14, 14, 45);
        background: #467ce0d2;
    }

    .produto {
        background: white;
    }

    .produto:hover {
        width: 75px;
        transition: width 1s, backgroud 2s;
    }

    .lt {
        font-size: 13px;
    }

    .lt2 {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .img:hover {
        width: 370px;
        transition: 1s;
    }

    .img2:hover {
        width: 370px;
        transition: 1s;
    }

    .img3 {
        position: relative;
        border-radius: 8px;
        margin-left: 27%;
    }

    .img3:hover {
        width: 425px;
        transition: 1s;
    }

    ul {
        list-style: none;
    }

    .imgz {
        border-radius: 8px;
        margin-left: 27%;
    }

    .imgz:hover {
        width: 330px;
        transition: 1s;
    }

    .jeito {
        position: relative;
        margin-left: 27%;
        margin-right: 3%;
    }

    .jeito:hover {
        width: 230px;
        transition: 1s
    }

    .dna {
        position: relative;
        border-radius: 8px;
    }

    .dna:hover {
        width: 360px;
        transition: 1s;
    }

    .mario {
        padding-bottom: 40px;
       margin-left: 2%;
    }

    .mario:hover {
        width: 300px;
        transition: 1s;
    }

    .ul {
        list-style-type: disc;
    }

    .consorcio:hover {
        width: 220px;
        transition: 1s;
    }

    .con2 {
        position: relative;
    }

    .con2:hover {
        width: 220px;
        transition: 1s;
    }

    p {
        margin-left: 17%;
        width: 67%;

    }
    
    h2 {
        margin-left: 17%;
    }

    table {
        margin-left: 20%;
    }

    .tb {
        margin-left: 30%;
    }

    .cl {
        margin-right: 0%;
    }